/*COLORES*/
$header-footer-backgroundcolor: rgb(2, 2, 2);
$body-background-color:rgba(230, 222, 222, 0.877);
$border:solid rgba(184, 184, 184, 0.644) 6px;


$colores:(
    "color_primario": $header-footer-backgroundcolor,
    "color_secundario": $body-background-color,
);


