/*COLORES*/
$header-footer-backgroundcolor: darkgrey;
$body-background-color:rgba(206, 206, 206, 0.945);
$border:solid rgb(56, 56, 56) 6px;


$colores:(
    "color_primario": $header-footer-backgroundcolor,
    "color_secundario": $body-background-color,
);


